/* general page styling */
*{
    box-sizing: border-box;
    max-width: 100%;
}
html{
    font-size: 62.5%
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    background: #c2bcbc;
}


/* header styling */
nav{
    display: flex;
    justify-content: center;
}
nav a{
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
    margin: 0;
    display: inline-block;
    color: white;
}
h1{
    margin-top: 4%;
}
header h1, h2, p{
    text-align: center;
}
header p{
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}

/* hero image styling */



/* project panel styling */



/* footer styling */

footer button{
    border: 0px;
    padding: 1%;
}





/* temp styling, remember to delete */
img {
    max-height: 10%;
    max-width: 10%;
}