/* general page styling */
*{
    box-sizing: border-box;
    max-width: 100%;
}
html{
    font-size: 62.5%
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
}


/* header styling */

nav a{
    text-decoration: none;
    border: 2px solid black;
    padding: 1%;
    margin: 0;
}

/* hero image styling */



/* project panel styling */



/* footer styling */

footer button{
    border: 0px;
    padding: 1%;
}





/* temp styling, remember to delete */
img {
    max-height: 10%;
    max-width: 10%;
}